In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
%pylab inline
pylab.rcParams['figure.figsize'] = (25, 9)

Populating the interactive namespace from numpy and matplotlib

In [2]:
#Loading csv file
df= pd.read_csv('clean_metal.csv')
df.head()

,Date,Price,f000_settle,f001_settle,f002_settle,f003_settle,f004_settle,f005_settle,f006_settle,f007_settle,...,f128_settle,f129_settle,f130_settle,f131_settle,f132_settle,f133_settle,f134_settle,f135_settle,f136_settle,f137_settle
0,2008-12-01,457.032497,56.29,51.91,0.6421,31.40,31.83,1.4924,1.4938,348.75,...,514.4,516.4,12545.0,12560.0,28410.0,27300.0,11655.0,10690.0,9540.0,9650.0
1,2008-12-02,465.530103,55.30,51.78,0.6354,30.77,31.20,1.4895,1.4911,348.25,...,504.8,504.8,12185.0,12215.0,28260.0,27040.0,11190.0,10300.0,9510.0,9630.0
2,2008-12-03,482.060575,55.21,51.21,0.6387,30.58,30.98,1.4734,1.4757,348.25,...,497.7,497.7,11715.0,11830.0,27800.0,26530.0,10605.0,10050.0,9500.0,9590.0
3,2008-12-04,472.395859,57.62,53.94,0.6413,29.50,29.87,1.4746,1.4769,334.00,...,490.1,490.1,11250.0,11240.0,26760.0,25530.0,10055.0,9735.0,9145.0,9225.0
4,2008-12-05,471.922241,56.75,53.58,0.6404,28.55,28.93,1.4696,1.4717,309.25,...,496.3,496.3,10685.0,10590.0,25450.0,24270.0,9965.0,9150.0,8665.0,8715.0

In [7]:
p1=df.copy()
p1.set_index('Date', inplace=True)
p1.head()

,Price,f000_settle,f001_settle,f002_settle,f003_settle,f004_settle,f005_settle,f006_settle,f007_settle,f008_settle,...,f128_settle,f129_settle,f130_settle,f131_settle,f132_settle,f133_settle,f134_settle,f135_settle,f136_settle,f137_settle
Date,,,,,,,,,,,,,,,,,,,,,
2008-12-07,471.922241,56.750,53.580,0.6404,28.550,28.930,1.4696,1.4717,309.25,319.25,...,496.3,496.3,10685.0,10590.0,25450.0,24270.0,9965.0,9150.0,8665.0,8715.0
2008-12-14,467.806318,54.460,52.800,0.6569,30.920,31.280,1.4948,1.4949,373.50,384.75,...,514.1,514.1,10520.0,10595.0,25600.0,24030.0,10150.0,9330.0,9090.0,9070.0
2008-12-21,494.466420,47.350,46.530,0.6771,30.600,30.910,1.4841,1.4842,380.75,391.00,...,512.6,514.6,10615.0,10610.0,24090.0,22460.0,10115.0,9995.0,9420.0,9410.0
2008-12-28,500.461613,45.250,45.082,0.7198,32.880,33.182,1.4650,1.4651,412.25,422.50,...,502.5,502.5,11238.0,11190.0,23698.0,22460.0,10443.0,10258.0,9740.0,9664.0
2009-01-04,506.761893,42.732,40.914,0.6997,33.538,33.880,1.4557,1.4554,407.00,417.75,...,539.9,539.9,11464.0,11462.0,23650.0,23298.0,10999.0,10908.0,9969.0,10011.0

In [8]:
p1.shape

(494, 139)

In [9]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split

In [10]:
p1.Price = p1.Price.shift(int(-0.3*p1.Price.size))

In [11]:
p1.tail()

,Price,f000_settle,f001_settle,f002_settle,f003_settle,f004_settle,f005_settle,f006_settle,f007_settle,f008_settle,...,f128_settle,f129_settle,f130_settle,f131_settle,f132_settle,f133_settle,f134_settle,f135_settle,f136_settle,f137_settle
Date,,,,,,,,,,,,,,,,,,,,,
2018-04-22,NaN,17.025,17.075,0.7668,31.30,31.560,1.4055,1.4116,376.50,385.50,...,909.4,906.4,14950.0,15030.0,51220.0,51430.0,11255.0,11355.0,24450.0,24345.0
2018-04-29,NaN,16.665,17.065,0.7580,30.61,30.808,1.3818,1.3879,394.90,402.70,...,922.5,919.2,14456.0,14535.0,51562.0,51746.0,10968.0,11090.0,23883.0,23743.0
2018-05-06,NaN,16.375,16.775,0.7536,30.77,30.880,1.3567,1.3627,406.25,413.75,...,928.6,925.2,14565.0,14640.0,51150.0,51330.0,11350.0,11500.0,23375.0,23230.0
2018-05-13,NaN,14.700,15.250,0.7544,31.31,31.420,1.3567,1.3626,396.50,405.00,...,947.6,944.3,14625.0,14690.0,51270.0,51480.0,11395.0,11525.0,23800.0,23700.0
2018-05-20,NaN,14.525,15.325,0.7511,30.98,31.090,1.3499,1.3558,402.50,411.00,...,957.9,954.8,14750.0,14825.0,51050.0,51240.0,11365.0,11510.0,23815.0,23700.0

In [12]:
X = df.iloc[:,2:]
Y = df['Price']

In [13]:
X.head()

,f000_settle,f001_settle,f002_settle,f003_settle,f004_settle,f005_settle,f006_settle,f007_settle,f008_settle,f009_settle,...,f128_settle,f129_settle,f130_settle,f131_settle,f132_settle,f133_settle,f134_settle,f135_settle,f136_settle,f137_settle
0,56.29,51.91,0.6421,31.40,31.83,1.4924,1.4938,348.75,360.00,370.75,...,514.4,516.4,12545.0,12560.0,28410.0,27300.0,11655.0,10690.0,9540.0,9650.0
1,55.30,51.78,0.6354,30.77,31.20,1.4895,1.4911,348.25,359.50,370.00,...,504.8,504.8,12185.0,12215.0,28260.0,27040.0,11190.0,10300.0,9510.0,9630.0
2,55.21,51.21,0.6387,30.58,30.98,1.4734,1.4757,348.25,359.25,369.75,...,497.7,497.7,11715.0,11830.0,27800.0,26530.0,10605.0,10050.0,9500.0,9590.0
3,57.62,53.94,0.6413,29.50,29.87,1.4746,1.4769,334.00,345.00,355.25,...,490.1,490.1,11250.0,11240.0,26760.0,25530.0,10055.0,9735.0,9145.0,9225.0
4,56.75,53.58,0.6404,28.55,28.93,1.4696,1.4717,309.25,319.25,328.75,...,496.3,496.3,10685.0,10590.0,25450.0,24270.0,9965.0,9150.0,8665.0,8715.0

In [14]:
X_train = X.iloc[:int(-0.3*p1.Price.size),:]
X_test = X.iloc[int(-0.3*p1.Price.size):,:]
y_train = p1['Price'].iloc[:int(-0.3*p1.Price.size)]
y_test = p1['Price'].iloc[int(-0.3*p1.Price.size):]

In [15]:
print(X.shape)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2283, 138)
(2135, 138)
(346,)
(148, 138)
(148,)

In [16]:
X.head()

,f000_settle,f001_settle,f002_settle,f003_settle,f004_settle,f005_settle,f006_settle,f007_settle,f008_settle,f009_settle,...,f128_settle,f129_settle,f130_settle,f131_settle,f132_settle,f133_settle,f134_settle,f135_settle,f136_settle,f137_settle
0,56.29,51.91,0.6421,31.40,31.83,1.4924,1.4938,348.75,360.00,370.75,...,514.4,516.4,12545.0,12560.0,28410.0,27300.0,11655.0,10690.0,9540.0,9650.0
1,55.30,51.78,0.6354,30.77,31.20,1.4895,1.4911,348.25,359.50,370.00,...,504.8,504.8,12185.0,12215.0,28260.0,27040.0,11190.0,10300.0,9510.0,9630.0
2,55.21,51.21,0.6387,30.58,30.98,1.4734,1.4757,348.25,359.25,369.75,...,497.7,497.7,11715.0,11830.0,27800.0,26530.0,10605.0,10050.0,9500.0,9590.0
3,57.62,53.94,0.6413,29.50,29.87,1.4746,1.4769,334.00,345.00,355.25,...,490.1,490.1,11250.0,11240.0,26760.0,25530.0,10055.0,9735.0,9145.0,9225.0
4,56.75,53.58,0.6404,28.55,28.93,1.4696,1.4717,309.25,319.25,328.75,...,496.3,496.3,10685.0,10590.0,25450.0,24270.0,9965.0,9150.0,8665.0,8715.0

In [17]:
#X_train,X_test,y_train,y_test=train_test_split(X,Y, test_size=0.31)
#y_train.size

#test_score=lasso.score(X_test,y_test)

#print ("test score: ", test_score)

In [18]:
ridge = Ridge()
ridge.fit(X_train,y_train)
train_score=ridge.score(X_train,y_train)
coeff_used = np.sum(ridge.coef_!=0)
print ("training score:", train_score)
print ("number of features used: ", coeff_used)

ridge.predict

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
#X_train,X_test,y_train,y_test=train_test_split(X,Y, test_size=0.3)
#ridge = Ridge()
#ridge.fit(X_train,y_train)
#train_score=ridge.score(X_train,y_train)
#test_score=ridge.score(X_test,y_test)
#coeff_used = np.sum(ridge.coef_!=0)
print ("training score:", train_score)
#print ("test score: ", test_score)
print ("number of features used: ", coeff_used)

#ridge.predict

In [ ]:
#a1=pd.DataFrame(lasso.predict(X))
#a1 = pd.DataFrame(ridge.predict(X_test))
#a1.head()

In [ ]:
pylab.rcParams['figure.figsize'] = (25, 9)
plot(df.Price, color='blue')
plot(ridge.predict(X), color='red')
plt.grid()
plt.show

In [ ]:
df.head()

In [ ]:
df.Price=df.Price.shift(int(-0.3*df.Price.size))
a1=df.iloc[:,1:2]
a1.head()

In [ ]:
a1['Predict']=pd.DataFrame(ridge.predict(X))
a1.index=df.index

In [ ]:
#a1=df.iloc[:,1:2]
#a1.head()

In [ ]:
a1.head()

In [ ]:
#b=a1.iloc[int(2*len(a1)/3):len(a1)]
#b.head()

In [ ]:
pylab.rcParams['figure.figsize'] = (25, 9)
plot(a1.Predict, color='blue')
plot(a1.Price, color='red')
plt.grid()
plt.show

In [ ]:
def mean_absolute_percentage_error(test,predictions): 
    test = np.array(test)
    predictions = np.array(predictions)
    return np.mean(np.abs((test - predictions) / test)) * 100

In [ ]:
b=a1.iloc[:int(2*len(a1)/3)]
mean_absolute_percentage_error(b.Price,b.Predict)